<template lang="pug">
  .clip
    h1 Grab all content from:
    .controls(v-if="isExt")
      input(type=text v-model="elemType")
      button(v-on:click="grabContent") Grab
    p(v-if="!isExt") This feature only works inside the extension.
    pre(v-show="clipboard") {{clipboard}}
    router-link(to='/') Back
</template>

<script lang="coffee">
export default
  name: 'clip'
  data: ->
    elemType: "h1"
    clipboard: null
    isExt: chrome.runtime.onMessage?
    updateClipboard: (data) =>
      @clipboard = data?.join("\n\n")
  methods:
    grabContent: ->
      chrome.tabs.query(active: true, currentWindow: true, (tabs) =>
        chrome.tabs.sendMessage(
          tabs[0].id,
          {request: "scrape", elemType: @elemType}
          @updateClipboard
        )
      )
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
p
  color: red
</style>
