<template lang="pug">
  .clock
    h1 Current time
    h2 {{time}}
    router-link(to='/') Back
</template>

<script lang="coffee">
export default
  name: 'clock'
  data: ->
    time: ""
    interval: null
    syncTime: =>
      @time = new Date().toISOString().slice(11, 19)+"Z"
  mounted: ->
    @interval = setInterval @syncTime , 1000
    @syncTime()
  destroyed: ->
    clearInterval(@interval)
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h2
  color: red
</style>
