<template lang="pug">
  .hello
    h1 Sandbox
    ul
      li
        router-link(to="/clock") Clock
      li
        router-link(to="/clip") Clipboard
      li
        router-link(to="/snippets") Snippets
</template>

<script lang="coffee">
export default
  name: 'hello'
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
