<template lang="pug">
  .snippets
    h1 Replace text you write with other text
    p(v-if="!rules") Loading rules (only works in extension)...
    .rule-editor(v-if="rules")
      .rule(v-for="rule in rules")
        | Replace 
        input(type=text v-model="rule.pattern")
        |  with 
        input(type=text v-model="rule.replacement")
        button(v-on:click="rmRule(rule)") Remove
      p(v-if="!saving")
        button(v-on:click="addRule") Add Rule
        button(v-on:click="save") Save changes
      p(v-if="saving") Save
    router-link(to='/') Back
</template>

<script lang="coffee">
export default
  name: 'snippets'
  data: ->
    isExt: chrome.storage?.sync?
    rules: null
    saving: false
  mounted: ->
    if chrome.storage?.sync?
      chrome.storage.sync.get "replacement_rules", (obj) =>
        @rules = obj.replacement_rules || []
  methods:
    addRule: ->
      @rules.push(pattern: "!", replacement: "")
    rmRule: (rule) ->
      @rules.splice(@rules.indexOf(rule), 1)
    save: ->
      @saving = true
      chrome.storage.sync.set(
        replacement_rules: @rules
        => @saving = false
      )
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
input
  display: inline-block
rule
  white-space: nowrap
</style>
